alias i3conf='vim ~/.config/i3/config'
alias l='exa -lihaag --group-directories-first'
alias uefi='systemctl reboot --firmware-setup'
alias holdmybeer='sudo'
alias mpv='mpv --input-ipc-server=/tmp/mpvsocket --hwdec=auto-copy'
alias ncdu='sudo ncdu --exclude /mnt'
alias nautilus='nautilus \`pwd\`'
alias tm='trash'
alias ranger='ranger-cd'
alias fd='fd -E /mnt'
alias nano="nano -L"
#alias man="LD_PRELOAD='' \\man"
alias meow="cat"
alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias e='exa -lihg --group-directories-first'
alias xevkb="xev -event keyboard"
alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -I"
alias c="calc"
alias dd="dd status=progress"
alias wp="feh --bg-scale --no-xinerama"
alias yaynews='yay -Pw'
alias qbittorrent='QT_SCALE_FACTOR_ROUNDING_POLICY=Round qbittorrent'
alias tmview='find . -maxdepth 1 -iregex ".*\.\(jpeg\|gif\|png\|jpg\)" -printf "%f\n"| xargs -L 1 -i bash -c "tmv {} ; exit 0"'
alias tmvslideshow='find . -maxdepth 1 -iregex ".*\.\(jpeg\|gif\|png\|jpg\)" -printf "%f\n"| sort -R | xargs -L 1 -i bash -c "tmv {} && sleep 3 ; exit 0"'
alias play='i3-swallow mpv'
